USE [VENTAS]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 05/22/2019 18:04:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PROVEEDOR] [varchar](30) NOT NULL,
	[PRODUC] [varchar](30) NULL,
	[PRECIO] [int] NULL,
	[CATEGORIA] [varchar](30) NULL,
	[PRECIO_MIN] [int] NULL,
	[PRECIO_MAX] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROVEEDOR] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PRODUCTOS] ([PROVEEDOR], [PRODUC], [PRECIO], [CATEGORIA], [PRECIO_MIN], [PRECIO_MAX]) VALUES (N'Karen', N'Lapices Hector`s', 65, N'papeleria', 60, 65)
INSERT [dbo].[PRODUCTOS] ([PROVEEDOR], [PRODUC], [PRECIO], [CATEGORIA], [PRECIO_MIN], [PRECIO_MAX]) VALUES (N'rivera', N'Sillas de oficina', 600, N'Oficina', 500, 500)
/****** Object:  Table [dbo].[DATOS]    Script Date: 05/22/2019 18:04:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DATOS](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[NOMBRE_PROVEEDOR] [varchar](30) NULL,
	[TELEFONO] [int] NULL,
	[FECHA_VENTA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DATOS] ON
INSERT [dbo].[DATOS] ([ID], [NOMBRE_PROVEEDOR], [TELEFONO], [FECHA_VENTA]) VALUES (1000, N'Karen', 55678902, CAST(0x0000AA4900000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[DATOS] OFF
/****** Object:  ForeignKey [FK__DATOS__NOMBRE_PR__0519C6AF]    Script Date: 05/22/2019 18:04:03 ******/
ALTER TABLE [dbo].[DATOS]  WITH CHECK ADD FOREIGN KEY([NOMBRE_PROVEEDOR])
REFERENCES [dbo].[PRODUCTOS] ([PROVEEDOR])
GO
